{% apply remove_whitespace %}
<div class="introduction">
  <style style="display:none;">
    .home-logo {
      display: block;
      margin: auto;
      min-width: 100px;
      width: 15%;
    }

    .home-description {
      margin: 20px auto 0 auto;
      text-align: center;
      max-width: 700px;"
    }
  </style>
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }}</h1>
    <img src="{{ config.logo }}" alt="logo" class="home-logo">
		<div class="subtitle">{{ settings.subtitle }}</div>
		<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
		<link rel="stylesheet" media="screen" href="/stylesheets/bunker_like.css">
		<p class="home-description" >{{ description }}</p>
	</header>
</div>
<div class="content">
	<div class="ban news">
		{% if not news %}
			<p style="text-align:center" class="unimportant">{% trans %}(No news to show.){% endtrans %}</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>{% trans %}no subject{% endtrans %}</em>
					{% endif %}
					<span class="unimportant"> &mdash; {% trans %}by{% endtrans %} {{ entry.name }} {% trans %}at{% endtrans %} {{ entry.time|date(config.post_date) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>
		{% if stats %}
			<div class="ban" style="border: none; background: none;">
				<h1 id="post-statistics">
				{% trans "Post Statistics" %}
				</h1>
			</div>
			<table class="modlog">
				<thead>
					<tr>
						<th>{% trans "Board" %}</th>
						<th>{% trans "PPH" %}</th>
						<th>{% trans "IPs last hour" %}</th>
						<th>{% trans "IPs last day" %}</th>
						<th>{% trans "IPs last week" %}</th>
					</tr>
					</thead>
				<tbody>
					<tr>
						<td class="minimal">
							<span>{% trans "Total" %}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.pph }}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.hourly_ips }}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.daily_ips }}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.weekly_ips }}</span>
						</td>
					</tr>
					{% for boardStat in stats.boards %}
						<tr>
							<td class="minimal">
								<span>{{ boardStat.title }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.pph }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.hourly_ips }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.daily_ips }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.weekly_ips }}</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
</div>
<footer>
  <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard +
  <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
  <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group
  <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel
  <br><br>
  <br><b>Leftychan.net is not currently under investigation by any Federal, State, or Local Authorities.</b></p>
</footer>
{% endapply %}

