{% filter remove_whitespace %}
<div class="content">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
		<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
	</header>

	<div class="ban">
		{% if not news %}
			<p style="text-align:center" class="unimportant">{% trans %}(No news to show.){% endtrans %}</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>{% trans %}no subject{% endtrans %}</em>
					{% endif %}
					<span class="unimportant"> &mdash; {% trans %}by{% endtrans %} {{ entry.name }} {% trans %}at{% endtrans %} {{ entry.time|date(config.post_date) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>
		{% if stats %}
			<div class="ban" style="border: none; background: none;">
				<h1 id="post-statistics">
				{% trans "Post Statistics" %}
				</h1>
			</div>
			<table class="modlog" style="width: 50%; text-align: left;">
				<thead>
					<tr>
						<th>{% trans "Board" %}</th>
						<th>{% trans "PPH" %}</th>
						<th>{% trans "Recent IPs" %}</th>
					</tr>
					</thead>
				<tbody>
					<tr>
						<td class="minimal">
							<span>{% trans "Total" %}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.pph }}</span>
						</td>
						<td class="minimal">
							<span>{{ stats.recent_ips }}</span>
						</td>
					</tr>
					{% for boardStat in stats.boards %}
						<tr>
							<td class="minimal">
								<span>{{ boardStat.title }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.pph }}</span>
							</td>
							<td class="minimal">
								<span>{{ boardStat.recent_ips }}</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	<footer>
			<p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard +
					<a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
			<br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group
			<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel
		<br><br>
		<br><b>Leftypol.org is not currently under investigation by any Federal, State, or Local Authorities.</b></p>
	</footer>
</div>
{% endfilter %}
