{% apply remove_whitespace %}
<div class="sidebar">
	<fieldset>
		<legend>{{ settings.title }}</legend>
		<ul>
			<li>
				<a class="system" href="/overboard/catalog.html">[Overboard Catalog]</a>
			</li>
			<li>
				<a class="system" href="{{ settings.file_news }}">[News]</a>
			</li>
			<li>
				<a class="system" href="{{ settings.file_faq }}">[Help/FAQ]</a>
			</li>
			<li>
				<a class="system" href="{{ settings.file_rules }}">[Rules]</a>
			</li>
			<li>
				<a class="system" href="search.php">[Search]</a>
			</li>
		</ul>
	</fieldset>
	
	{% for category, boards in categories %}
		<fieldset>
			<legend>
				{{ category }}
			</legend>
			{% for board in boards %}
				<li>
					<a href="{{ board.uri }}">{{ board.title|e }}</a>
				</li>
			{% endfor %}
		</fieldset>
	{% endfor %}
	
	{% for category, links in config.custom_categories %}
		<fieldset>
			<legend>
				{{ category }}
			</legend>
			{% for title, uri in links %}
				<li>
					<a href="{{ uri }}">{{ title }}</a>
				</li>
			{% endfor %}
		</fieldset>
	{% endfor %}
</div>

{% endapply %}
