# static html and json
/*/*.html
/*/*.json
/*/res
/*/src
/*/thumb
/*/config.php
/*.html
/*.xml
/vendor/*
/vendor

# include some files though
!/templates/*.html
!/inc/config.php

# minify
/inc/lib/minify

# instance-config
# /inc/instance-config.php

# .installed
/.installed

# script file
/main.js

# templates cache
/templates/cache

# other stuff
.DS_Store
.htaccess
thumbs.db
Icon?
Thumbs.db
*.patch
*.diff
*.rej
*.orig
*~
~*/

# tmp filesystem
/tmp/cache/*
/tmp/locks/*
!/tmp/cache/.gitkeep
!/tmp/locks/.gitkeep

piwik/
jwplayer/
tf/

# vim swapfiles
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# special boards
/all/
/mod/
/random/

# Banners
banners/*
!banners/lain-bottom.png

#Fonts
stylesheets/fonts

#Images from twemoji
js/twemoji/16x16/

# JUNK
GET/
.bash_history
.cache/
777/
R9K/
WRK/
a/
alt/
anime/
b/
b_anime/
b_b/
b_dead/
b_edu/
b_games/
b_get/
b_gulag/
b_hobby/
b_ref/
b_tech/
bans.json
bunker_like.css
dead/
edu/
games/
gulag/
hardcopy.1
hobby/
i/
leftypol/
leftypol_archive/
meta/
overboard/
phpinfo.php
posad/
restore_b_ass/
save_ass_thread/
sfw/
tech/
ref/
ga/
