.longtable {
  position: relative;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.longtable > tbody {
  box-sizing: border-box;
  display: block;
}
.longtable > tbody > tr {
  box-sizing: border-box;
  clear: left;
  width: 100%;
}
.longtable > tbody > tr > td {
  display: table;
  box-sizing: border-box;
  float: left;
  padding: 0;
  word-break: break-word;
}
.longtable > tbody > tr > th {
 *display: table;
  box-sizing: border-box;
  float: left;
  padding: 0;
}
.longtable > tbody > tr > th.sortable {
  cursor: pointer;
}
