<?php

/*
*  Instance Configuration Secrets
*  ------------------------------
*  Put secrets here to avoid accidentally leaking them in commits.
*
*/

/*
 * Database configuration
 */

$config['db']['server'] = 'localhost';
$config['db']['database'] = 'lainchan';
$config['db']['prefix'] = '';
$config['db']['user'] = 'lainchan';
$config['db']['password'] = '';

/*
 * Salt
 */
$config['secure_trip_salt'] = '';
$config['cookies']['salt'] = '';
