/* Demain_light theme for leftypol.org adapted from Seaweed theme for 4chan*/
/* Work in progress*/
/* General */
/* General */
body {
    background: #e9eced url('img/fade-yotsuba.png') repeat-x 50% 0%;
    color: #4c4c4c;
    font-size: 11pt;
    font-family: liberation.sans
}
/* Link colors */
a:link,
a:visited,
.intro a.email span.name {
    color: #477085;
}
a:hover,
.intro a.post_no:hover {
    color: #5d6678;
}
/* Board title and subtitle */
header div.subtitle,
h1 {
    color: #d93f42;
}
/* Post number*/
a.post_no {
    color: #477085;
}
/* "Top bar" of the replies*/
p.intro {
    background: #e3e7e8;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px; 
}
/* Replies */
/* Background color and border */
div.post.reply {
    background: #e9eced;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px;
}
div.post.reply.highlighted {
    background: #d5dada;
    border-color: #477085;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px;
}
div.post.reply div.body a {
    color: #477085;
}
.intro span.subject {
    color: #6b7a1e;
}
/* Greentext */
span.quote {
    color: #6b7a1e
}
/* Catalog grids */
/* Background color and green border */
.thread.grid-li.grid-size-vsmall,
.thread.grid-li.grid-size-vsmall:hover,
.thread.grid-li.grid-size-small,
.thread.grid-li.grid-size-small:hover,
.thread.grid-li.grid-size-large,
.thread.grid-li.grid-size-large:hover {
    background-color: #e9eced;
    border: 1px solid #cccccc;
}
/* Posting form */
/* Field names */
form table tr th {
    background: #e9eced;
    color: #4c4c4c;
    border: 1px solid #cccccc;
}
/* Input fields */
textarea,
input:not([type="file"]):not([type="checkbox"]),
[type="submit"] {
    color: #4c4c4c;
    background: #e9eced;
    border: 1px double #cccccc;
    border-radius: 5px;
}
/* Input fields, focused */
textarea:focus,
input:not([type="file"]):not([type="checkbox"]):focus,
[type="submit"]:hover {
    border: 1px solid #d5dada;
    -moz-box-shadow: 0 0 10px #d5dada;
    -webkit-box-shadow: 0 0 10px #d5dada;
    box-shadow: 0 0 10px #d5dada;
}
/* Top bar */
/* Background, border and fade */
.bar {
    background-color: #e9eced;
    border-color: #cccccc!important;
    ;
    /* comment these out to remove the fade */
    /*
    -moz-box-shadow: 0 0 40px #FFB300;
    -webkit-box-shadow: 0 0 40px #FFB300;
    box-shadow: 0 0 40px #FFB300;
    */
}
/* Bottom bar, not visible in catalog mode */
div.pages {
    background: #e9eced;
    border-color: #cccccc;
}
div.pages a.selected {
    color: #5d6678;
}
hr {
    border-color: #cccccc;
}
div.boardlist {
    color: #81a2be;
    font-size: 14px;
}
div.boardlist a {
    color: #477085;
}
table.modlog tr th {
    background: #e9eced;
}

/* options.js */
#options_div,
#alert_div {
    background: #e9eced;
}

.desktop-style div.boardlist:nth-child(1) {
    background-color: #e9eced;
}
/* Red text */
span.heading {
    color: #d93f42;
}
/* Buggy shit */
div.post.reply div.body a {
    color: #5f89ac;
    text-decoration: none;
}
/* OP */
/* Subject */
.intro span.subject {
    color: #617d6f;
}
/* name */
.intro span.name {
    color: #4c4c4c;
}
/* tripcode */
.intro span.trip {
    color: #5d6678;
}
/* Quick reply */
/* Quick reply banner */
div.banner {
    background-color: #477085;
}
#quick-reply th,
#quick-reply td {
    background-color: #d5dada;
}
#quick-reply table {
    border-color: #cccccc
}
/* Buggy shit */
div.post.reply div.body a {
    color: #477085;
    text-decoration: none;
}
