/* Demain_light theme for leftypol.org adapted from Seaweed theme for 4chan*/
/* Work in progress*/
/* General */
/* Main page */
legend {
    color: #477085
}
div.module, div.ban {
    background: #e9eced;
    border: 1px solid #cccccc;
    max-width: 700px;
    margin: 30px auto;
}
/* Text */
body {
    background: #e9eced;
    color: #4c4c4c;
    font-size: 13pt;
    font-family: "Open Sans", sans-serif;
}
/* Link colors */
a:link,
a:visited,
.intro a.email span.name {
    color: #477085;
}
a:hover,
.intro a.post_no:hover {
    color: #5d6678;
}
/* Board title and subtitle */
header div.subtitle,
h1 {
    color: #d93f42;
    font-size: 20pt; 
    font-family: "Open Sans", sans-serif;
}
header div.subtitle {
    font-size: 10pt;
}
/* Post number*/
a.post_no {
    color: #477085;
}
/* "Top bar" of the replies*/
p.intro {
    background: #e3e7e8;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px; 
}
/* Replies */
div.sidearrows {
    color: #cccccc;
}
/* Background color and border */
div.post.reply {
    background: #e9eced;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px;
}
div.post.reply.highlighted {
    background: #d5dada;
    border-color: #477085;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px;
}
div.post.reply div.body a {
    color: #477085;
}
.intro span.subject {
    color: #6b7a1e;
}
/* Upper part of a post */
div.post p {
    display: block;
    margin: 0;
    line-height: 1.16em;
    font-size: 13pt;
    min-height: 1.16em;
}
/* Greentext */
span.quote {
    color: #6b7a1e
}
/* Orangetext */
orangeText {
    color: ##bb8359
}
* Catalog grids */
/* Background color and green border */
.thread.grid-li.grid-size-vsmall,
.thread.grid-li.grid-size-small,
.thread.grid-li.grid-size-large {
    background-color: #e9eced;
    border: 1px solid #cccccc;
}
.thread.grid-li.grid-size-vsmall:hover, 
.thread.grid-li.grid-size-small:hover,
.thread.grid-li.grid-size-large:hover {
    background: #d5dada;
    border-color: #477085;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 5px;
}
/* Posting form */
/* Field names */
form table tr th {
    background: #e9eced;
    color: #4c4c4c;
    border: 1px solid #cccccc;
}
/* Input fields */
textarea,
input:not([type="file"]):not([type="checkbox"]),
[type="submit"] {
    color: #4c4c4c;
    background: #e9eced;
    border: 1px double #cccccc;
    border-radius: 5px;
}
/* Input fields, focused */
textarea:focus,
input:not([type="file"]):not([type="checkbox"]):focus,
[type="submit"]:hover {
    border: 1px solid #d5dada;
    -moz-box-shadow: 0 0 10px #d5dada;
    -webkit-box-shadow: 0 0 10px #d5dada;
    box-shadow: 0 0 10px #d5dada;
}
/* Top bar */
/* Background, border and fade */
.bar {
    background-color: #e9eced;
    border-color: #cccccc!important;
    ;
    /* comment these out to remove the fade */
    /*
    -moz-box-shadow: 0 0 40px #FFB300;
    -webkit-box-shadow: 0 0 40px #FFB300;
    box-shadow: 0 0 40px #FFB300;
    */
}
/* Bottom bar, not visible in catalog mode */
div.pages {
    background: #e9eced;
    border-color: #cccccc;
}
div.pages a.selected {
    color: #5d6678;
}
hr {
    border-color: #cccccc;
}
div.boardlist {
    color: #81a2be;
    font-size: 14pt;
}
div.boardlist a {
    color: #477085;
}
table.modlog tr th {
    background: #e9eced;
}

/* options.js */
#options_div,
#alert_div {
    background: #e9eced;
}

.desktop-style div.boardlist:nth-child(1) {
    background-color: #e9eced;
}
/* Red text */
span.heading {
    color: #d93f42;
    font-size: 14pt;
}
/* OP */
/* Subject */
.intro span.subject {
    color: #617d6f;
}
/* Name */
.intro span.name {
    color: #4c4c4c;
}
/* tripcode */
.intro span.trip {
    color: #5d6678;
}
/* Fix OP file bleeding out of the border*/
.post-image {
    margin: 37px 
}
/* Quick reply */
/* Quick reply banner */
div.banner {
    background-color: #477085;
}
/* Buggy shit */
div.post.reply div.body a {
    color: #477085;
    text-decoration: none;
}
/* WatchList options */
#watchlist-toggle, .watchThread, .watchlist-remove, #clearList, #clearGhosts {
  color: #617d6f
}
/* Mod tools */
div.report {
    color: black;
}
.banlist-opts .checkboxes label {
    display: block;
    color: black;
}
.desktop-style div.boardlist:not(.bottom) {
    background-color: #e9eced;
}
