<div id="post-moderation-fields">
	{% if config.allow_delete %}
	<div id="delete-fields">
		<span
            class="i18n_doable"
            data-i18n-key="delete_post"
            >{% trans %}Delete Post{% endtrans %}</span> [<input title="Delete file only" type="checkbox" name="file" id="delete_file" />
        <label
            class="i18n_doable"
            data-i18n-key="file_only"
            for="delete_file">{% trans %}File{% endtrans %}</label>] 
        <label
            class="i18n_doable"
            data-i18n-key="password"
            for="password">{% trans %}Password{% endtrans %}</label> 
		<input id="password" type="password" name="password" size="12" maxlength="18" />
		<input
            class="i18n_not_doable"
            data-i18n-key="delete"
            type="submit"
            name="delete"
            value="Delete"
            />
	</div>
	{% endif %}
	
	<div id="report-fields">
		<label
            class="i18n_doable"
            data-i18n-key="reason"
            for="reason">
            {% trans %}Reason{% endtrans %}
        </label> 
		<input id="reason" type="text" name="reason" size="20" maxlength="100" />
		<input
            class="i18n_not_doable"
            data-i18n-key="report"
            type="submit"
            name="report"
            value="{% trans %}Report{% endtrans %}"
            />
	</div>
</div>
