<div class="ban" id="tips">
    <h2>
        PRO TIP FOR MAXIMUM FUN:
    </h2><br>
    Remember to read the <a href="/faq.html">Help/FAQ</a> page, especially if you are not familiar with imageboards or have only used 4chan.
</div>

<div class="ban" id="global">
    <h2>
        RULES     
    </h2><br>
    The rules for users are defined in our <a href="/static/manifesto.pdf#page=3">/leftypol/ Manifesto</a>. Below is a summary.
    <ol start="0">
        <li>Anyone posting child pornography will immediately face a permanent ban and their IP will be logged and recorded to
        be handed over to the authorities (if this is ever required).<br>Content which ‘doxxes’ another user
        or person will also be removed.<br>Other content which promotes or endorses illegal activity may be
        removed at the discretion of the moderators.</li><br>
        <li>No spam. Spam from a bot is subject to a permanent ban or more severe actions
        to preserve site security. Spam from a user may also be subject to a ban.</li><br>
        <li>Pornography should not be posted on /leftypol/ or /meta/ without good reason. In addition,
        images which are excessively offensive to the eye or to civilised sensibilities may be removed
        without warning (for example, gore, shock images) and punished with moderator action.</li><br>
        <li>Posts should, overall, be conducive to an informed and productive discussion. /leftypol/ is not an
        academic journal, but it also should not be a cesspit of back and forth bickering and pointless
        insults. Users should attempt to argue for the point they are presenting in an honest and open
        way and should be receptive to information or arguments that do, in fact, challenge their views.
        Reactionism and liberalism, or any other kind of non-leftist positions are not banned per se, as
        we will endeavour to allow and encourage people of other political philosophies to explore
        leftism through /leftypol/ so long as they follow the rules contained herein. However, non-leftist
        users are ultimately to be considered ‘guests’ and thus will be removed if they prove a nuisance
        or disrupt the normal functioning of the site.</li><br>
        <li>In addition, /leftypol/ is committed to the ideal of left unity, or at least that the left should have
        an avenue for open discussion, so all ‘mainstream’ leftist ideologies will be permitted (so long as
        they do not violate the conditions set out in <a href="/static/manifesto.pdf#page=1">Article 1)</a>. /leftypol/ does not adhere to a specific
        leftist ideology.</li><br>
        <li>To ensure a basic level of quality, topics or posts will not be tolerated when contributions are not
        conductive to well-intentioned discussion. Therefore, posts or topics are likely to be removed at
        the discretion of moderation staff if they;
        <ol>
            <li>argue under false pretences ("false flagging")<br>
            &emsp;e.g. "Hey fellow commies, did you prep your wife's bull today?"</li>
            <li>imply reactionary or false positions of the userbase as a form of group shaming<br>
            &emsp;e.g. "Why do you guys all hate trans people?"</li>
            <li>are of an overly derisive and mocking nature<br>
            &emsp;e.g. "haha, btfo commies hitler rulez"</li>
            <li>are of a gratuitously offensive or hysterical nature<br>
            &emsp;e.g. "I hate fucking Mudslimes, we need to hang them all before they rape our children"</li>
            <li>are debating inherently reactionary topics where no reasonable debate is possible<br>
            &emsp;e.g. "In what way should be exterminate the lesser races, guys?"</li>
            <li>are low effort sectarian bait rather than good faith discussion<br>
            &emsp;e.g. “Tankie/Anarkiddie hate thread” or “Why does this theorist suck so much?”</li>
            <li>are likely to create pointless and unconstructive arguments about ‘idpol’ (as defined in
            <a href="/static/manifesto.pdf#page=1">Article 1)</a><br>
            &emsp;e.g. “Why can’t I have women as sex slaves?” or “Why are whiteoids like this?”</li>
        </ol><br>
        These examples are low quality posts that are considered, at best, bait, but are better described as
        spam. Any poster that violates this rule may be subject to a ban, and any post that violates this is
        subject to deletion, subject to the discretion of moderators, if they feel that the topic may be an
        avenue for productive discussion.</li><br>
        <li>Volunteers may remove other posts according to their own discretion which they feel do not
        contribute to the stated mission of /leftypol/, but they should try to adhere to the standards of the
        community and of their fellow moderators, and to refrain from arbitrary decisions. Where there is
        disagreement among moderators, the matter will be decided by informal consensus of currently
        active moderators. If there is still disagreement, the matter should be escalated to a formal vote.</li>
    </ol><br>

    Once a ban is issued, it should be followed by the user and not contravened. The evasion of bans
    will lead to continued bans and possibly an escalation of moderator action against a user. In
    addition, it is prohibited to attempt to imitate a moderator, or to give the impression of being
    multiple users at a time (for example to falsely make one’s own opinion appear more popular)<br><br>
    Users have the right to question and challenge any bans or post removals, or other moderator
    actions, which they feel are unfair or do not live up to the spirit of the rules. This may be done in
    the moderation feedback threads on the various boards, or on the /meta/ board, but comments
    should be considered and constructive, and should not devolve into polemics against the
    volunteers. Ultimately, the judgement of the moderation team is final.
</div>

