{% apply remove_whitespace %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>{{ settings.title }}</title>
    {% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <script type='text/javascript'>
        var active_page = "faq";
    </script>
    <title>{{ settings.title }}</title>
    {% include 'header.html' %}
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
    <div class="bar top">
        {{ boardlist.top }}
    </div>
    <header>
        <h1 class="glitch" data-text="{{ settings.title }}"> {{ settings.title }}</h1>
        <div class="subtitle">{{ settings.subtitle }}</div>
    </header>
    <center><img alt="logo" src="static/leftypol_logo.png" width=15%/></center>
    <div class="ban">
        <h2 id="1">
            My question isn't here. What do I do ?     
        </h2>
        <p>Make a post in the /meta/ board or ask via our <a href="https://talk.leftychan.net/#/room/#general:matrix.leftychan.net">Matrix chat</a>  </p>
        <h2 id="2">
                What are the rules ? 
        </h2>
        <p>Please click <a href="/rules.html">here</a> </p>
        <h2 id="3">
                I'm new here and <span class="strikethrough">learned politics from memes</span> would like to learn about leftism! Where should I start ? 
        </h2>
        <p>We're in the process of remaking the beginner reading thread. Meanwhile, consider asking your questions in /edu/ or in a relevant /leftypol/ thread, such as QTDDTOT.</p>
        <h2 id="4">
           What is the purpose of leftychan.net ?  
        </h2>
        <p>The mission of /leftypol/ at leftychan.net is to provide a fun and enjoyable space for the working 
        masses around the world, as an anonymous community of non-sectarian leftists united in 
        common cause against the forces of capitalism, fascism, and liberalism. Our goal is to act as a 
        centre for serious political discourse and less serious informal discussions on various topics 
        related to leftist thought.</p>
        <p>We aim to be the negation of /pol/; anti-fascist, materialist, better read. Our mission, above all, is 
        to learn, and help others learn, the philosophical tools necessary to elucidate the interrelated and 
        ever-increasingly complex space of self, society, and politics, from the local to the global scale.</p>
        <p>An important part of /leftypol/’s unique character is our opposition to identity politics. We 
        believe that conflicts between genders, races, sexualities, and so on are distractions from the 
        wider class struggle that are intentionally fanned by the ruling class. This does not mean that 
        oppression based on personal characteristics does not exist, but that it should be approached 
        from an egalitarian perspective which is not personally accusatory and does not assign ‘victim’ 
        and ‘oppressor’ groups. The rights of individuals to live according to their own wishes is a 
        fundamental part of leftism.</p>
        <p>More broadly, leftism is defined as; “A broad set of ideological 
        forces which are dedicated to, by one form or another, dismantling the current material way of 
        things in capitalism and building a new egalitarian system to replace it.” If a point of view or 
        ideology claims to represent socialism or communism, yet is so divisive and anti-egalitarian that 
        it fails to offer a reasonable alternative to the current order, it may be considered as non-leftist.</p>

        <p>Further information can be found in our <a href="/static/manifesto.pdf">/leftypol/ Manifesto</a>
        <h2 id="5">
                I don't like the colors. Where can I change my options ? 
        </h2>
        <p>If you are using a normal browser, there should be an [Options] button in the top right corner when viewing a board. The bottom right of the popup is for choosing themes. <span class="spoiler">Try Jungle.</span></p>
        <h2 id="6">
                How does post formatting work ? 
        </h2>
        <p> It is standard vichan post formatting. </p>
        <p> &gt;text makes it a greentext quote: <span class="quote">&gt;text</span></p>
        <p> &lt;text makes it an orangetext response: <span class="orangeQuote">&lt;text</span></p>
        <p> ''text'' makes it italic: <i>text</i></p>
        <p> '''text''' makes it bold: <b>text</b></p>
        <p> __text__ makes it underline: <span class="underline">text</span></p>
        <p> ~~text~~ makes it strikethrough: <span class="strikethrough">text</span></p>
        <p> ==text== makes it a heading: <span class="heading">text</span></p>
        <p> **text** makes it spoiler: <span class="spoiler">text</span></p>
        <p> [code]text[/code] makes it code: <pre class="code lang-">text</pre></p>
        <p> To specify language for the syntax highlighting. Use something like the example below</p>    
        <p>[code]</p>
        <p>lisp</p>
        <p>(defun foo ()</p>
        <p>&ensp;&ensp;(if (mapcar (lambda (x) (format t "~a " x)) '(is this not infuriating?)) </p>
        <p>&ensp;&ensp;&ensp;&ensp;t </p>
        <p>&ensp;&ensp;nil)) </p>
        <p>[/code]</p>
        <p>Valid languages are listed <a href="http://highlightjs.readthedocs.io/en/latest/css-classes-reference.html#language-names-and-aliases">here</a>.</p>
        <h2 id="7">
           Why are my posts being changed / word-filtered ? 
        </h2>
        <p> leftypol has a language enhancer. It's mostly just there to mess with bad-faith posters. /pol/ users often get surprisingly triggered when you don't let them say their favorite slurs...</p>
        <h2 id="8">
           I don't like the mobile site. Do you have a mobile app ? 
        </h2>
        <p> We do. There's a thread <a href="/tech/res/4951.html">for it here</a>.</p>
        <h2 id="9">
           How can I suggest or submit fixes to the site ?   
        </h2>
        <p>There is a /meta/ thread for this, and our <a href="https://github.com/towards-a-new-leftypol/leftypol_lainchan/">GitHub repo</a>.</p>
        <h2 id="10">
           I don't trust Tor exit nodes. Do you have an .onion site ?   
        </h2>
        <p>Yes, <a href="http://wz6bnwwtwckltvkvji6vvgmjrfspr3lstz66rusvtczhsgvwdcixgbyd.onion/">here it is</a>.</p>
        <h2 id="11">
            How do I search for things ?
        </h2>
        <p> Visit the search page  <a href="/search.php">here</a> </p>
        <h2 id="12">
            Where did my post go ?
        </h2>
        <p>Either you never posted it, or it felt off the board due to old age, or it was deleted by you or by /leftypol/ staff as a moderation action, typically for breaking <a href="/rules.html">the rules</a>.  </p>
        <h2 id="13">
            I want to submit a banner to leftychan.net
        </h2>
        <p>See the <a href="/meta/res/7286.html">banner thread on /meta/</a> or if there is no such thread, then make a replacement thread. </p>
        <h2 id="14">
            What are the supported file types?
        </h2>
        <ul>
            <li>JPEG Files</li>
            <li>BMP Files</li>
            <li>GIF Files</li>
            <li>PNG Files</li>
            <li>MP3 Files</li>
            <li>MP4 Files (Supports thumbnail) </li>
            <li>WEBM Files (Supports thumbnail) </li>
            <li>PDF Files (Supports thumbnail) </li>
            <li>EPUB Files</li>
            <li>DJVU Files (Supports thumbnail) </li>
            <li>Text Files (Supports thumbnail) </li>
            <li>ZIP Files</li>
            <li>GZ Files</li>
            <li>BZ2 Files</li>
        </ul>
        <h2 id="15">
            What are the maximum filesize for attachments ?
        </h2>
        <p>Maximum file size in megabytes for attachments to a single post is 80MB (e.g. 5 * 16MB), as most boards support uploading 5 attachments by default. Maximum file size in pixels for images is currently set to 20000 by 20000. </p>
        <h2 id="16">
            Is the website source code available?
        </h2>
        <p>Yes the website and platform code is available on our <a href="https://github.com/towards-a-new-leftypol">github</a>.</p>
    </div>
    
    
    <hr/>
        <footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
                        <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel</p>
        </footer>
    <div class="pages"></div>
    <script type="text/javascript">{% verbatim %}
        ready();
{% endverbatim %}</script>
</body>
</html>
{% endapply %}

